<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>

  <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
</head>
<body>
  <div class="container-login">
    <div>
      <form class="login-form" id="register">
        <span>Sign Up to Social Media!</span>
        <div>
          <input id="name" name="name" type="text" placeholder="Name" required="required"/>
        </div>
        <div>
          <input id="email" name="email" type="text" placeholder="E-mail" required="required"/>
        </div>
        <div>
          <input id="nick" name="nick" type="text" placeholder="Nick" required="required"/>
        </div>
        <div>
          <input id="password" name="password" type="password" placeholder="Password" required="required"/>
        </div>
        <div>
          <input id="confirm-password" name="confirm-password" type="password" placeholder="Confirm Password" required="required"/>         
        </div>
        <a href="/">Login</a>
        <button type="submit" class="login-button">Sign Up</button>
      </form>
    </div>
  </div>   
  {{ template "scripts" }}
  <script src="/assets/js/register.js"></script>
</body>
</html>