<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SocialMedia - Update Password</title>
  <link href="/assets/css/bootstrap.css" rel="stylesheet">
</head>
<body>
  {{ template "header" }}

  <div class="container-fluid">
    <div class="row mt-4">
      <div class="col-12">
        <h5 class="card-title">Update password</h5>
        <form id="update-password">
          <div class="form-group">
            <label for="current-password">Current Password</label>
            <input id="current-password" class="form-control" name="current-password" type="password" placeholder="Put yout current password"/>
          </div>
          <div class="form-group">
            <label for="new-password">New Password</label>
            <input id="new-password" class="form-control" name="new-password" type="password" placeholder="Put yout new password"/>
          </div>
          <div class="form-group">
            <label for="confirm-password">Confirm Password</label>
            <input id="confirm-password" class="form-control" name="confirm-password" type="password" placeholder="Confirm the new password"/>
          </div>
          <button id="btn-update-password" class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>
  </div>

  {{ template "footer" }}
  {{ template "scripts" }}
  <script src="/assets/js/user.js"></script>
</body>
</html>
